$color-primary: #1292d2bb;
$color-secondary: #3b3d9cbc;

$color-primary-nav: #1292d2;
$color-secondary-nav: #3b3d9c;

$color-text-primary:#1293d2;
$color-text-secondary: #585ad6f5;

$color-button-shadow: rgba(0,0,0,.3);

$color-inner-background: #f7f7f7;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
