$color-primary: #1292d2bb;
$color-secondary: #3b3d9cbc;
$color-text-primary:#1293d2;
$color-text-secondary: #585ad6f5;
$color-button-shadow: rgba(0,0,0,.3);
$color-inner-background: rgb(245, 245, 245);
