.Projects {
    height: 100vh;
    text-align: center;
    position: relative;
    background-color: $color-inner-background;
    padding-top: 20vh;
    margin-top: -20vh;
    display: block;

    &--HeaderBox {
        position: absolute;
        width: 100%;
        background: -webkit-linear-gradient($color-text-primary, $color-text-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
        letter-spacing: .5rem;
        transform: translate(-50%,-50%);
    }
}

.section-about {
    background-color: $color-inner-background;
    padding-top: 25rem 0;
}