.footer {
    background-color: #333;
    padding: 10rem 0;
    font-size: 1.4rem;
    position: relative;

    &__logo-box {
        text-align: center;
        position: absolute;
        font-size: 3.5rem;
        color: whitesmoke;
        left: 50%;
        top: 20%;
        position: absolute;
        transform: translate(-50%,-50%);
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__navigation {

    }

    &__list {
        list-style: none;
    }

    &__item {
        text-decoration: none;
        color: whitesmoke;
        display: inline-block;

        &:not(:last-child) {
            margin-right: 5rem;
        }
    }

    &__link {

        
        &:visited {
            color: whitesmoke
        }

    }

    &__copyright {
        text-align: right;
        border-top: 1px solid white;
    }

}