.u-center-text {
  text-align: center; }

.u-margin-bot-big {
  margin-bottom: 8rem; }

.u-margin-bot-medium {
  margin-bottom: 1.5rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: 400; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-stretch: wider;
  line-height: 1.7;
  padding: 3rem;
  box-sizing: border-box;
  color: #777; }

@keyframes fadeInToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5rem;
  background-image: linear-gradient(to right, #1292d2bb, #3b3d9cbc);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(-10deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.btn {
  display: inline-block;
  font-size: 1.5rem;
  font-family: 'Lato';
  font-stretch: wider;
  line-height: 1.7;
  text-align: center;
  padding: 1.5rem 4rem;
  font-family: "Lato";
  background-color: white; }
  .btn--left {
    right: 1rem; }
  .btn--right {
    left: 1rem; }
  .btn--animated {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-fill-mode: backwards; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3); }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3); }
  .btn:link, .btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
    border-radius: 10rem;
    transition: all .2s;
    position: relative; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.About-Icon {
  height: 15rem;
  width: 15rem;
  transition: all .5s;
  box-shadow: .2rem .2rem .2rem .2rem; }
  .About-Icon:not(:last-child) {
    margin-right: 2rem; }
  .About-Icon:hover {
    transform: translateY(-1rem);
    box-shadow: .3rem .3rem .3rem .5rem; }

.feature-box {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 10rem rgba(0, 0, 0, 0.2); }

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, #1292d2bb, #3b3d9cbc), url(https://www.ubackground.com/_ph/3/125290873.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  font-weight: 100;
  text-align: center;
  z-index: 1;
  display: block;
  position: relative;
  color: whitesmoke; }
  .header__logobox {
    position: absolute;
    font-size: 3rem;
    top: 5rem;
    left: 8rem; }
  .header__Textbox {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__Textbox h1 {
      letter-spacing: 2rem;
      font-size: 6rem;
      animation-name: fadeInToRight;
      animation-duration: 1.5s; }
    .header__Textbox h6 {
      letter-spacing: .5rem;
      font-size: 3rem;
      margin-bottom: 3rem;
      animation-name: fadeInToLeft;
      animation-duration: 1.5s; }

.Projects {
  height: 100vh;
  text-align: center;
  position: relative;
  background-color: #f7f7f7;
  padding-top: 20vh;
  margin-top: -20vh;
  display: block; }
  .Projects--HeaderBox {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(to right, #1292d2bb, #3b3d9cbc);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3rem;
    letter-spacing: .5rem;
    transform: translate(-50%, -50%); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to bottom right, #1292d2bb, #3b3d9cbc), url(https://www.ubackground.com/_ph/3/125290873.jpg);
  background-size: cover; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc(( 100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc(( 100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * (( 100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ( 100% - 3 * 6rem) / 4 + 2 * 6rem); }

@media (max-width: 500px) {
  html {
    font-size: 40%; } }
