*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: 400; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-stretch: wider;
  line-height: 1.7;
  color: whitesmoke;
  padding: 3rem;
  box-sizing: border-box; }

/* Header Section */
.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, #1292d2bb, #3b3d9cbc), url(https://www.ubackground.com/_ph/3/125290873.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  font-weight: 100;
  text-align: center; }
  .header__logobox {
    position: absolute;
    font-size: 3rem;
    top: 5rem;
    left: 8rem; }
  .header__Textbox {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__Textbox h1 {
      letter-spacing: 2rem;
      font-size: 6rem;
      animation-name: fadeInToRight;
      animation-duration: 1.5s; }
    .header__Textbox h6 {
      letter-spacing: .5rem;
      font-size: 3rem;
      margin-bottom: 3rem;
      animation-name: fadeInToLeft;
      animation-duration: 1.5s; }

.btn {
  display: inline-block;
  font-size: 1.5rem;
  font-family: 'Lato';
  font-stretch: wider;
  line-height: 1.7;
  text-align: center;
  padding: 1.5rem 4rem;
  font-family: "Lato";
  background-color: white; }

.btn--left {
  right: 1rem; }

.btn--right {
  left: 1rem; }

.btn--animated {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: .5s;
  animation-fill-mode: backwards; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3); }

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: gray;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

@keyframes fadeInToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* About me Section */
.About {
  height: 95vh;
  text-align: center;
  position: relative; }

.About--HeaderBox {
  position: absolute;
  width: 100%;
  background: -webkit-linear-gradient(#1293d2, #585ad6f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  letter-spacing: .5rem;
  transform: translate(-50%, -50%); }

@media (max-width: 500px) {
  html {
    font-size: 40%; } }
