
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body {
    font-size: 30px;
    font-family: 'Lato';
    font-stretch: wider;
    line-height: 1.7;
    color: whitesmoke;
    text-align: center;
    padding: 30px;
}

#header {
    height: 95vh;
    background-image: linear-gradient(
        to bottom right,
        #7ed56fbe, 
        #28b485c2),
        url(https://i.pinimg.com/originals/ae/c8/82/aec882a6d5a93e17eab0961437a61a0d.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
    font-weight: 100;
}

.logobox {
    position: absolute;
    left: 2em;
}

.headerText {
    position: relative;
    top: 30%
}
