.feature-box {
    text-align: center;
    background-color: rgba(white, .75);
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 10rem rgba(black, .2);
    transition-duration: .3s;

    &__icon {
    font-size: 5rem;
    display: inline-block;
    text-align: center;
    color: $color-primary;

    }

    ul {
        list-style-type: none;
    }

    &:hover {
        transform: translateY(-1.5rem);
        color: black;
    }
}